[submodule "cdyer"]
	path = cdyer
	url = git://github.com/redpony/sp2013.11-731.git
[submodule "wlin12"]
	path = wlin12
	url = git://github.com/wlin12/sp2013.11-731.git
[submodule "sp2013.11-731"]
	path = sp2013.11-731
	url = git://github.com/Ruil/sp2013.11-731.git
[submodule "victor"]
	path = victor
	url = git:git://github.com/vcha/sp2013.11-731.git
[submodule "sunayana"]
	path = sunayana
	url = git:git://github.com/ssitaram/sp2013.11-731.git
